# Dependencies
node_modules/

# Production
/dist

# Netlify
.netlify/

# Local env
.env
.env.*
!.env.example
!.env.production

# Logs
npm-debug.log*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
